* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/

/*--------------------*/

/*--------------------*/

body {
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 15px;
}

.flex__container {
	display: flex;
	justify-content: space-between;
}

.header__top {
	padding: 5px 30px;
	background: #fafafa;
}

.header__links {
	display: flex;
	gap: 5px;
	align-items: center;
}

.header__about {
	display: flex;
	gap: 30px;
	align-items: center;
}

.about__item h3 {
	font-size: 14px;
	color: rgb(255, 81, 18);
	transition: 0.5s all;
}

.about__item h3:hover {
	color: rgb(40, 40, 40);
}

.header__nav .container {
	padding: 0px;
}

.header__nav {
	background-color: #ffffff;
	border-top: 1px #ededed solid;
}

.nav__flex {
	display: flex;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	align-items: center;
}

.nav__flex a {
	color: #222;
	transition: 0.5s all;
	padding-top: 22.5px;
	padding-bottom: 22.5px;
	width: calc(11.111%);
}

.nav__flex a:hover {
	background-color: #dedede;
}

.slider {
	background-image: url(img/1.1.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 400px;
}

.slider__inner {
	max-width: 1050px;
	margin: 0 auto;
}

.slider__food-category a {
	display: inline-block;
	font-size: 12px;
	color: white;
	padding: 4px 9px;
	border-radius: 3px;
	background-color: #ff5912;
	margin: 20px 0;

}

.slider__title {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 10px;
	color: white;
}

.slider__text {
	color: #ededed;
	font-size: 16px;
}

.grid__dishes {
	padding-top: 30px;
	padding-bottom: 50px;
	background-color: #fff4f0;
}

.grid__top {
	display: flex;
}

.grid__top_title {
	color: #ff4e00;
	cursor: pointer;
	font-weight: 700;
	font-size: 2.2em;
}

.grid__dishes.container {
	max-width: 1000px;
}

.grid__top_subsections {
	margin-left: 20px;
}

.grid__top_subsections.title {
	color: #929292;
	text-transform: uppercase;
	font-weight: thin;
	margin-bottom: 10px;
}

.grid__top_subsections.nav ul {
	display: flex;
	grid-gap: 20px;
}

.grid__top_subsections a {
	color: #ff3212;
}

.grid__container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 50px;
	margin-top: 45px;
}

.grid__item img {
	border-radius: 10px;
	margin-bottom: 13px;
}

.grid__item-title {
	margin-bottom: 10px;
}

.grid__item-title a {
	font-weight: 700;
	font-size: 16px;
	color: black;
}

.grid__item-icon {
	display: flex;
	grid-gap: 10px;
	margin-bottom: 15px;
	color: #929292;
}

.icon__item.timing {
	margin-right: 5px;
}

.icon__item.recipes {
	margin-right: 5px;
}

.icon__item.comments {
	margin-right: 5px;
}

.icon__item.views {
	margin-right: 5px;
}

.icon__item.timing::before {
	content: '⏳';
	margin-right: 7px;
}

.icon__item.recipes::before {
	content: '🍔';
	margin-right: 7px;
}

.icon__item.comments::before {
	content: '💬';
	margin-right: 7px;
}

.icon__item.views::before {
	content: '🔎';
	margin-right: 7px;
}

.grid__item-text {
	color: #929292;
}

.bottom__dishes {
	background-color: #f9f7ff;
}

.bottom__dishes .container {
	max-width: 1000px;
	margin: auto;
	padding-top: 50px;
}

.bottom__img img {
	border-radius: 5px;
}

.row__item {
	display: flex;
	margin-bottom: 40px;
}

.row__item.info {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	margin-top: 30px;
	max-width: 470px;
}

.footer {
	background-color: #f5f5f5;
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer__widget {
	display: flex;
	padding-bottom: 80px;
	border-bottom: 1px #bababa solid;
}

.widget {
	width: calc(33.333%);
}

.widget__img {
	margin-bottom: 50px;
}

.first-item {
	font-size: 12px;
}

.widget__info li {
	color: #777777;
	line-height: 20px;
}

.widget__info li:first-child {
	margin-bottom: 15px;
}

.widget__info a {
	color: black;
}

.widget__title {
	font-weight: bold;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.widget__nav li {
	font-size: 15px;
	padding: 15px 0;
}

.widget__nav li a {
	color: rgb(49, 49, 49);
}

.widget__nav li::before {
	content: '>';
	color: #ff3212;
	padding-right: 10px;
}

.footer__copyright {
	margin-top: 33px;
}